@page "/dashboard/masterlists/create"

<NavLink class="mt-2 block" href="/dashboard/masterlists">← Go back</NavLink>

<h3 class="mt-2">Create new Master List</h3>

@if (RowList != null)
{
    <section id="controls" class="flex gap-2 mx-2">
        <button class="btn-main" disabled="@IsSaving" @onclick="AddRowClicked">Add row</button>
        @*Here be styling dragons to make a fileinput behave like a button. Check app.css for details.*@
        <label class="@(UploadCsvButtonClass)" for="CsvFileBrowser">
            <InputFile disabled="@IsSaving" class="hidden-file-input" id="CsvFileBrowser" OnChange="LoadCsvFiles" />
            Import CSV
        </label>
        <button class="btn-main-action ml-auto" disabled="@IsSaving" @onclick="SaveListClicked">Save list</button>
    </section>

    <section id="masterlistTable" class="flex flex-col px-2">
        <table class="w-full">
            <caption>
                <input class="@(ListNameFieldClass)"
                   type="text"
                   disabled="@IsSaving"
                   placeholder="New Master List Name"
                   @bind-value="@(ListName)"
                   @oninput="OnListNameInput" />
            </caption>
            @{
                int rowIndex = 0;
            }
            @foreach (var row in RowList)
            {
                int localRowIndex = rowIndex;
                <tr>
                    <th scope="row" class="text-left">@(localRowIndex + 1)</th>
                    @{
                        int colIndex = 0;
                    }
                    @foreach (var cellWords in row.Words)
                    {
                        var localRow = row;
                        int localColIndex = colIndex;
                        <td>

                            <input class="w-full h-full"
                               type="text"
                               disabled="@IsSaving"
                               @bind-value="@localRow.Words[localColIndex]"
                               @bind-value:event="oninput" />
                        </td>
                        colIndex++;
                    }
                    <td class="text-left">
                        <button class="btn-main" 
                            disabled="@IsSaving" 
                            @onclick="() => RemoveRowClicked(row)">x</button>
                    </td>
                </tr>
                rowIndex++;
            }
        </table>
    </section>
}