@page "/dashboard/masterlists"

<h3 class="mt-2 text-3xl ml-5">Master Lists</h3>

<section id="actions" class="flex gap-5 m-5">
    <NavLink class="btn-main-action hover:text-white no-underline" href="@($"{NavManager.Uri}/create")">Create new master list</NavLink>
</section>

<section class="flex flex-col mt-2 px-2">
    @if (SavedLists == null || SavedLists.Count == 0) 
    {
        <p>It looks like there aren't any master lists here!</p>
    }
    else 
    {
        <table class="w-full">
            <thead>
                <tr>
                    <th class="font-bold text-left" scope="col">List Name</th>
                    <th class="font-bold" scope="col">Number of Verbs</th>
                    <th class="font-bold" scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var savedList in SavedLists)
            {
                SavedMasterList localList = savedList;
                <tr>
                    <td class="text-left">                        
                        <NavLink href="@($"{NavManager.Uri}/{localList.ListId}")">@localList.ListName</NavLink>                        
                    </td>
                    <td class="text-center">@(localList.TotalRows)</td>
                    <td class="text-center">@(localList.ListCreationTimestamp.ToLocalTime().ToString("dd.MM.yyyy @ HH':'mm"))</td>
                    <td><button class="btn-main"
                            @onclick="() => DeleteMasterListClicked(localList)">x</button></td>
                </tr>
            }
            </tbody>
        </table>
    }    
</section>
