@page "/dashboard/tests/create"
@using VerbIt.Client.Constants

<h3 class="mt-2 text-3xl ml-5">Create New Test</h3>

<section id="controls" class="flex flex-col gap-2 items-end mr-2 mb-2">
    <button class="btn-main-action" dislabed="@IsSaving" @onclick="SaveListClicked">Save list</button>
    <p class="@($"text-red-500 {(IsSaveErrorVisible ? "" : "hidden")}")">@SaveErrorString</p>
</section>

<div class="grid grid-cols-2 gap-5">
    @*Left side, displays master lists to select from*@
    <section id="masterListSelector" class="@($"flex flex-col px-2 {(!IsListSelectorVisible ? "hidden" : "")}")">
        <h4 class="mt-2 text-2xl ml-5 text-center">Select base Master List</h4>
        <table class="w-full">
            <thead>
                <tr>
                    <th class="font-bold text-left" scope="col">List Name</th>
                    <th class="font-bold" scope="col">Number of Verbs</th>
                    <th class="font-bold" scope="col">Created</th>
                </tr>
            </thead>
            <tbody>
                @if (SavedMasterLists != null)
                {
                    @foreach (var savedMasterList in SavedMasterLists!)
                    {
                        SavedMasterList localList = savedMasterList;
                        <tr>
                            <td class="text-left">
                                <a class="cursor-pointer" @onclick="() => MasterListClicked(localList)">@localList.ListName</a>
                            </td>
                            <td class="text-center">@localList.TotalRows</td>
                            <td class="text-center">@localList.ListCreationTimestamp.ToLocalTime().ToString(TimeAndDate.VerbitDateFormat)</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </section>

    @*Left side, displays master list once selected*@
    <scetion id="masterListDisplyer" class="@($"flex flex-col px-2 {(IsListSelectorVisible ? "hidden" : "")}")">
        <h4 class="mt-2 text-2xl ml-5 text-center">@ChosenMasterListName</h4>
        <table class="w-full">
            <thead>
                <tr>
                    <th class="font-bold text-center" colspan="5" scope="col">Words</th>
                </tr>
            </thead>
            <tbody>
                @if (ChosenMasterListRows != null)
                {
                    @foreach (var chosenListRow in ChosenMasterListRows)
                    {
                        SelectListRowVM localListRow = chosenListRow;
                        <tr @onclick="(args) => ChosenMasterListRowClicked(localListRow, args)" 
                            class="@($"{(localListRow.IsSelected ? "bg-teal-100" : "")} select-none")">
                            <th scope="row" class="text-left">@chosenListRow.RowNum</th>
                            @{
                                int colIndex = 0;
                            }
                            @foreach (var cellWords in localListRow.Words)
                            {
                                int localColIndex = colIndex;
                                <td>@string.Join(" | ", localListRow.Words[localColIndex])</td>
                                colIndex++;
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
    </scetion>

    @*Right side, displays test-so-far with words chosen from the left*@
    <section id="testRowTable" class="flex flex-col px-2">
        <input class="@($"{TestNameFieldClass} text-center")"
               type="text"
               disabled="@IsSaving"
               placeholder="New Test Name"
               @bind-value="@(TestName)"/>
        <p>Click on a word to blank out the other words in that row. Click on a blanked-out word to make it visible again.</p>
        <table class="w-full">
            <colgroup>
                <col class="w-[5%]"/>
                <col class="w-[15%]" span="4" />
                <col class="w-[25%]" />
                <col class="w-[10%]" />
            </colgroup>
            <thead>
                <tr>
                    <th class="font-bold text-center" colspan="5" scope="col">Words</th>
                    <th class="font-bold text-center">Hint (optional)</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var testRow in TestRows)
                {
                    CreateTestRowVM localTestRow = testRow;
                    <tr>
                        <th scope="row" class="text-left">@localTestRow.RowNum</th>
                        @{
                            int colIndex = 0;
                        }
                        @foreach (var cellWords in localTestRow.Words) {
                            int localColIndex = colIndex;
                            <td class="@($"{ (localTestRow.HiddenColumnIndices.Contains(localColIndex) ? "bg-slate-900" : "") }")"
                                @onclick="() => TestRowColumnClicked(localTestRow, localColIndex)">
                                @string.Join(" | ", localTestRow.Words[localColIndex])
                            </td>
                            colIndex++;
                        }
                        <td><input class="w-full h-full" 
                            type="text" 
                            disabled="@IsSaving"
                            @bind-value="@localTestRow.Hint"/></td>
                        <td>
                            <div class="flex flex-col">
                                <button class="w-7 p-0.5 btn-main-np h-4 text-[0.6rem] leading-[0.6rem]"
                                    type="button"
                                    disabled="@IsSaving"
                                    @onclick="() => TestRowUpClicked(localTestRow)">
                                    ˄
                                </button>
                                <button class="w-7 p-0.5 btn-main-np h-4 text-[0.6rem] leading-[0.6rem]"
                                    type="button"
                                    disabled="@IsSaving"
                                    @onclick="() => TestRowDownClicked(localTestRow)">˅</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

