@page "/dashboard/tests/{testId}"
@using VerbIt.Client.Constants

@if (_testId != null && TestData != null)
{
    <h3 class="mt-2 ml-5 text-3xl">Test - @TestData!.TestName</h3>

    <section id="testProperties" class="flex px-5 gap-5">
        <p>
            Created: @(TestData!.TestCreationTimestamp.ToLocalTime().ToString(TimeAndDate.VerbitDateFormat))
        </p>
        <p>
            Currently Available?: @(TestData!.IsAvailable)
        </p>
        <p>
            Currently Retakeable?: @(TestData!.IsRetakeable)
        </p>
        @*TODO: Update DB model to include source list name as well*@
        <p>
            Source Master List: <NavLink href=@($"/dashboard/masterlists/{TestData.SourceList}")>@(TestData.SourceList)</NavLink>
            </p>
    </section>

    <h4 class="mt-2 ml-5 text-2xl">Questions</h4>

    <section id="testQuestions" class="flex flex-col px-2">
        <table class="w-full ml-3">
            @foreach (var row in TestData!.Questions)
            {
                var localRow = row;
                <tr>
                    <th scope="row" class="text-left">@localRow.RowNum</th>
                    @foreach (string[] cellWords in localRow.Words)
                    {
                        <td>@string.Join(" | ", cellWords)</td>
                    }
                </tr>
            }
        </table>
    </section>

    <section id="testResultsOverview">
        <h4 class="mt-2 ml-5 text-2xl">Results</h4>
        @if (!TestData.ResultsSummaries.Any())
        {
            <p class="ml-5">It doesn't look like there are any results for this test.</p>
        } 
        else 
        {
            @*Display test results here*@
        }
    </section>
}
else 
{
    <NotFoundComponent/>
}
